@import url("topbar.css");
@import url("canvas.css");

:root {
    font-family: monospace;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}