@import url("burger-menu.css");
@import url("canvas.css");
@import url("constellation-info.css");
@import url("search-bar.css");

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --text-color: whitesmoke;
    --background-color: rgb(0, 0, 21);
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-content {
    height: 100%;
}