@import url("burger-menu.css");
@import url("canvas.css");
@import url("constellation-info.css");
@import url("search-bar.css");

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --text-color: whitesmoke;
    --background-color: rgb(0, 0, 21);
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-content {
    height: 100%;
}

.top-container {
    position: absolute;
    width: calc(100% - 2em);
    height: calc(100% - 1em);
    margin: 1em;
    display: grid;
    gap: 1em;
    grid-template-columns: auto 0.7fr 0.3fr;
}

.top-container>* {
    z-index: 2;
    background-color: transparent;
    backdrop-filter: blur(1em);
    color: var(--text-color);
    border: 1px solid;
    border-radius: 1em;
    transition: all 0.4s;

    &:hover {
        color: var(--background-color);
        background-color: var(--text-color);
        border-radius: 0;
        transition: all 0.4s;
    }
}