#constellation-info {
    padding: 0 1em;
    justify-self: end;
    height: fit-content;
    max-height: 80%;
    overflow: scroll;
    anchor-name: --constellation-info;
    position: relative;
}

#constellation-info__close {
    all: unset;
    position: absolute;
    top: 0.5em;
    right: 0;
    text-align: center;
    border: 1px solid;
    border-radius: 0.5em;
    height: 2.5em;
    width: 2.5em;
    margin: 0 0.5em;
    border-color: var(--text-color);
    transition: all 0.4s;

    &:hover {
        background-color: var(--background-color);
        border-radius: 0;
        color: var(--text-color);
        transition: all 0.4s;
    }
}

#constellation-info__text {
    text-wrap: pretty;
}

#constellation-info__text button {
    all: unset;
    color: inherit;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: attr(color);
}

#constellation-info__text button:hover {
    cursor: pointer;
    text-decoration-style: solid;
}

.constellation-info__star {
    position: relative;
}

#constellation-info__star--estimated {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    &::after {
        content: "Estimated from parallax, large distances are likely inaccurate.";
        background-color: var(--background-color);
        color: var(--text-color);
        padding: 0.5em;
        border-radius: 0.25em;
        position: absolute;
        width: max-content;
        max-width: 200px;
        top: -200%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s;
        z-index: 3;
    }

    &:hover::after {
        opacity: 1;
        visibility: visible;
    }
}


#constellation-info__source a {
    color: inherit;
    text-decoration-style: dashed;

    &:hover {
        text-decoration-style: solid;
    }
}