.constellation-info {
    justify-self: end;
    height: fit-content;
    max-height: 80%;
    min-width: fit-content;
    overflow: scroll;
    border: 1px solid;
    border-radius: 1em;
    transition: all 0.4s;
    background-color: transparent;
    backdrop-filter: blur(1em);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    width: 100%;

    &:hover {
        color: var(--background-color);
        background-color: var(--text-color);
        border-radius: 0;
        transition: all 0.4s;
    }
}


#constellation-info__controls {
    margin: 0.5em 0.5em 0.5em 1em;
    display: grid;
    grid-template-columns: 1fr 2.5em 2.5em 2.5em;
    align-items: baseline;
    gap: 1em;
    background-color: transparent;
}

#constellation-info__name {
    align-self: center;
    text-decoration: underline;
    margin: 0;
}

#constellation-info__controls button {
    all: unset;
    justify-self: end;
    text-align: center;
    border: 1px solid;
    border-radius: 0.5em;
    height: 2.4em;
    width: 2.4em;
    transition: all 0.4s;

    &:hover {
        background-color: var(--background-color);
        border-radius: 0;
        color: var(--text-color);
        transition: all 0.4s;
        cursor: pointer;
    }

    &:hover>#refresh-button {
        transition: all 0.4s;
        scale: 1.2;
        rotate: 180deg
    }

    &:hover>#default-button {
        transition: all 0.4s;
        scale: 1.2;
    }

    &:hover>#hide-button,
    &:hover>#show-button {
        transition: all 0.4s;
        scale: 1.2;
    }
}

#constellation-info__controls i {
    transition: all 0.4s;
}

#constellation-info__box {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 1em 1em;
}

#constellation-info__box p {
    margin: 0;
}

#constellation-info__general {
    text-wrap: pretty;
}

#constellation-info__general button {
    all: unset;
    color: inherit;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: attr(color);
}

#constellation-info__general button:hover {
    cursor: pointer;
    text-decoration-style: solid;
}

.constellation-info__star {
    position: relative;
}

#constellation-info__box-stars {
    margin: 0;
    padding-left: 1.5em;
}

#constellation-info__star--estimated {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    &::after {
        content: "Estimated from parallax, possibly inaccurate.";
        background-color: var(--background-color);
        color: var(--text-color);
        padding: 0.5em;
        border-radius: 0.25em;
        position: absolute;
        font-size: small;
        width: fit-content;
        top: -32px;
        left: -16px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s;
        z-index: 3;
    }

    &:hover::after {
        opacity: 1;
        visibility: visible;
    }
}

#constellation-info__source a {
    color: inherit;
    text-decoration-style: dashed;

    &:hover {
        text-decoration-style: solid;
    }
}

@media (width <=42em) {
    .constellation-info {
        grid-area: constellation-info;
        align-self: end;
        max-height: 100%;
        overflow: scroll;
    }
}